.avatar {
    margin: auto;
    margin-top: -12%;
    width: 100% !important;
    height: 100% !important;
    max-width: 75px !important; //any size
    max-height: 75px !important; //any size
  }
  .cover {
    background-image: url(../../assets/images/cover.jpg);
    height: 100px;
    margin: 0px;
    position: static;
    background-size: cover;
  }
  .container{
      margin: 5%;
  }