<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/" slot="start"></ion-back-button>
    <ion-title>Password Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Recovery
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" [(ngModel)]="username" placeholder="username">
        </ion-input>
      </ion-item>
      <ion-button (click)="recover()">RECOVER</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
