<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button defaultHref="/" slot="start" color=dark></ion-back-button>
    <ion-title>Password Recovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card>
    <ion-card-header>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text" [(ngModel)]="username" placeholder="username">
        </ion-input>
      </ion-item>
      <ion-button color=dark (click)="recover()">RECOVER</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- Default Spinner -->
  <p style="text-align: center;" *ngIf="spinner"><ion-spinner name="crescent"></ion-spinner></p>
</ion-content>
