<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/tab3" color=dark slot="start"></ion-back-button>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-avatar class="avatar">
    <img src="../../assets/images/MVIMG_20191224_142043-01.jpeg" alt="" />
  </ion-avatar>
  <p class="script">
    Developed by Rohit <br> <br />Mobile App Developer<br /> <br> App version 1.0
    <br /><br />
    <ion-icon name="logo-instagram" style="align-items: inherit;"></ion-icon
    ><a href="https://www.instagram.com/ro.h.i.t_._">ro.h.i.t_._</a>
  </p>
  <p style="text-align: center;" *ngIf="isAuthorised">
    <ion-button (click)="logout()">Logout</ion-button>
  </p>
</ion-content>
