// ion-content {
//     --background: url(../../assets/images/PicsArt_05-30-11.15.23.png) 0 0/100%
//       100% no-repeat;
//   }
//   ion-toolbar {
//     --background: linear-gradient(to left, blue, blue, rgb(243, 55, 55), blue);
//   }
  .avatar {
    margin: auto;
    margin-top: 15%;
    width: 100% !important;
    height: 100% !important;
    max-width: 100px !important; //any size
    max-height: 100px !important; //any size
  }
  ion-button {
    --border-radius: 20px;
  }
  .script {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    color: rgb(3, 2, 0);
  }
  