// ion-content {
//     --background: url(../../assets/images/photo-1557683304-673a23048d34.jfif) 0 0/100%
//       100% no-repeat;
//   }
.slide {
    background-image: url(../../assets/images/profile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    margin: 1%;
    border-radius: 20px;
  }
  ion-card-content{
    color:black;
  }
  .headerclass1{
    background-image: url(../../assets/images/becca-tapert-QofjUnxy9LY-unsplash.jpg);
    position: static;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    width: 35rem;
  }
  .headerclass2{
    background-image: url(../../assets/images/oleg-magni-E7FYfLSy9KM-unsplash.jpg);
    position: static;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    width: 35rem;
  }
  .headerclass3{
    background-image: url(../../assets/images/benjaminrobyn-jespersen-Ai9_QJaZfMc-unsplash.jpg);
    position: static;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 10rem;
    width: 35rem;
  }