<ion-header mode="ios">
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/tab3" color=dark slot="start"></ion-back-button>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
<div style="margin-right: 5%;margin-left: 5%;">
  <form class="container" style="margin-top: 5%;" [formGroup]="Formupdate">
    <ion-item class="myclass">
      <ion-input
        type="password"
        [(ngModel)]="oldPassword"
        formControlName="oldPassword"
        placeholder="Old Password"
        name="oldPassword"
      ></ion-input>
    </ion-item>
    <ion-item class="myclass">
      <ion-input
        type="password"
        formControlName="newPassword"
        [(ngModel)]="newPassword"
        placeholder="New Password"
        name="newPassword"
      ></ion-input>
    </ion-item>
    <ion-button (click)="update()" color=dark>Update</ion-button>
  </form>
  <!-- Default Spinner -->
  <p style="text-align: center;" *ngIf="spinner"><ion-spinner name="crescent"></ion-spinner></p>
</div>
</ion-content>
