<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card>
    <ion-card-header> </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="formSubmit()">
        <ion-item>
          <ion-input
            type="text"
            placeholder="username"
            [(ngModel)]="login.username"
            name="username"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            placeholder="password"
            [(ngModel)]="login.password"
            name="password"
          ></ion-input>
        </ion-item>
        <ion-button type="submit" color="dark">
          LOGIN
        </ion-button>
      </form>
      <br />
      <ion-row>
        <ion-router-link color="dark" href="/forgotpassword"
          >Forgot password? Click here</ion-router-link
        >
      </ion-row>
      <br />
      <ion-row>
        <ion-router-link color="dark" href="/register"
          >New User? Click here to register</ion-router-link
        >
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- Default Spinner -->
  <p style="text-align: center;" *ngIf="spinner"><ion-spinner name="crescent"></ion-spinner></p>
</ion-content>
