<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      name="information-circle-outline"
      slot="end"
      size="large"
      style="margin-right: 5%;"
      (click)="gotoAbout()"
    ></ion-icon>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="logout()">
    <ion-icon name="log-out-outline"></ion-icon>
    <p style="font-size: xx-small; position: absolute;margin-top:1rem;">LOGOUT</p>
  </ion-fab-button>
</ion-fab>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>User Details</ion-label>
  </ion-item>
  <!-- Crescent -->
  <p style="text-align: center; font-size: xx-large;" *ngIf="!userValue"><ion-spinner name="crescent"></ion-spinner></p>
  <ion-list mode="ios" *ngIf="userValue" style="margin-right:5%">
    <ion-item-sliding>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-label text-wrap>{{ name }}</ion-label>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-label text-wrap>{{ username }}</ion-label>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-label text-wrap>********</ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="gotoEditPassword()" style="height: inherit;"
          >Edit</ion-item-option
        >
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-label text-wrap>{{ phone }}</ion-label>
      </ion-item>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-label text-wrap>{{ email }}</ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
